#borderpane{
    -fx-background-image: url("build.JPG");
    -fx-font-family: "Arial";
}

#vbox{
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-color: linear-gradient(from 100% 90% to 100% 60%, rgba(0, 0, 0, 0.479), #fafafade);
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 50, 0, 0, 0);
}

#vbox > *{
    -fx-padding: 10;
}

Label{
    -fx-font-size: 20;
    -fx-font-family: "Arial";
    -fx-padding: 0;
}

#title{
    -fx-padding: 10;
    -fx-font-family: "Arial";
    -fx-font-size: 30;
}



#TITLE{
    -fx-padding: 5;
    -fx-background-color: #e7e7e7de;
    -fx-border-color: #6b6a6a;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-family: "SansSerif";
    -fx-font-size: 40;
    -fx-text-fill: #242120;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 50, 0, 0, 0);
}

Button{
    -fx-background-color: #fc7303de;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-padding: 0;
}

Button:hover{
    -fx-background-color: #a54d04;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

Button:pressed{
    -fx-background-color: #fc7303de;
}

Hyperlink{
    -fx-padding: 20;
    -fx-font-size: 15;
}

Region{
    -fx-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

TextField{
    -fx-padding: 10;
    -fx-background-color: #a8a6a6;
    -fx-prompt-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20;
}

PasswordField{
    -fx-padding: 10;
    -fx-background-color: #a8a6a6;
    -fx-prompt-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20;
}